<div class="row">
	<%= form_tag users_search_path, method: :get, class: "form-search", remote: true do %>
		<div class="input-append">
			<%= text_field_tag "search", "", class: "span2 search-query" %>
			<%= submit_tag "Search", class: "btn" %>
		</div>
	<% end %>
</div>
<div class="row">
	<table class='users-list-wrap'>
	  	<% @users.each do |user| %>
	  	<tr class='users-current-user'>
			<td class='users-image-field'><%= image_tag user.avatar.url(:thumb) %></td>
			<td class='users-name-field'><%= link_to user.name, user_profile_path(user.user_name) %>
				<br><span class="user-status"><%= check_user_status(user.id) %></span>
			</td>
			<td class='users-controls-field'><%= add_control_links(user, current_user) %></td>
		</tr>
		<% end %>
	</table>		
</div>