<%= link_to "Find Friends", users_path %>

<h2>My friends</h2>
<div class="row">
  <table class='users-list-wrap'>
      <% for friendship in @user.friendships %>
      <tr class='users-current-user'>
        <td class='users-image-field'>
          <%= image_tag friendship.friend.avatar.url(:thumb) %>
        </td>
        <td class='users-name-field'>
          <%= link_to friendship.friend.name, user_profile_path(friendship.friend.user_name) %>
        </td>
        <td class='users-controls-field'><%= link_to 'Send message', '' %>
          <br><%= link_to "Remove friend", friendship, :method => :delete %>
        </td>
      </tr>
    <% end %>
  </table>    
</div>


<h2>I'm in friends</h2>


<div class="row">
  <table class='users-list-wrap'>
      <% for user in @user.inverse_friends %>
      <tr class='users-current-user'>
        
        <td class='users-image-field'>
          <%= image_tag user.avatar.url(:thumb) %>
        </td>
        <td class='users-name-field'>
          <%= link_to user.name, "/#{user.user_name}" %>
        </td>
        <td class='users-controls-field'>
          <%= link_to 'Send message', '' %>
        </td>
      </tr>
    <% end %>
  </table>    
</div>