<div class="modal-body">
    <%= form_for(conversation) do |f| %>
      <div>
        <%= f.label :to %>
          <select multiple class="form-control" id="friends_list" name="user_conversation[to][]">
            <% for user in friends %>
              <option value="<%= user.friend.id %>"><%= user.friend.name %></option>
            <% end %>
          </select>
        <br>
      </div>
      <%= f.fields_for :conversation do |c| %>
        <div>
          <%= c.label :subject %>
          <%= c.text_field :subject, class: "span5" %>
        </div>
        <%= c.fields_for :messages do |m| %>
          <div>
            <%= m.label :body, "Message" %>
            <%= m.text_area :body, rows: 6, class: "span5" %>
          </div>
        <% end %>
      <% end %>
</div>
<div class="modal-footer">
       <%= f.submit "Send", class: "btn btn-primary" %>
    <% end %>
</div>
      
